---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% assign sorted_publications = site.publications | sort: 'date' | reverse %}
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign category_has_items = false %}
    {% for post in sorted_publications %}
      {% if post.category == category[0] %}
        {% assign category_has_items = true %}
        {% break %}
      {% endif %}
    {% endfor %}
    {% if category_has_items %}
      <h2 class="publication__category-title">{{ category[1].title }}</h2>
      <div class="publication-grid">
        {% for post in sorted_publications %}
          {% if post.category != category[0] %}
            {% continue %}
          {% endif %}
          {% include archive-single-publication.html %}
        {% endfor %}
      </div>
    {% endif %}
  {% endfor %}
{% else %}
  <div class="publication-grid">
    {% for post in sorted_publications %}
      {% include archive-single-publication.html %}
    {% endfor %}
  </div>
{% endif %}



